.frame-icon {
    position: relative;
    width: 14.86rem;
    height: 2.88rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .contact-us,
  .home1 {
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .contact-us {
    white-space: nowrap;
  }
  .frame-parent,
  .home-parent {
    display: flex;
    flex-direction: row;
  }
  .home-parent {
    width: 13.44rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-23xl);
  }
  .frame-parent {
    align-self: stretch;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray-300);
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 0.81rem 2.88rem;
    gap: var(--gap-xl);
    top: 0;
    z-index: 99;
    position: sticky;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .inductions,
  .ragam-24-tech-team {
    margin: 0;
  }
  .ragam-24-tech-team-container {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .embrace-the-challenges {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-3xl);
    font-weight: 300;
    font-family: var(--font-ibm-plex-sans);
  }
  .ragam-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  .explore {
    position: relative;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--font-ibm-plex-sans);
    color: var(--color-white);
    text-align: left;
  }
  .arrow-outward-icon {
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
  }
  .explore-parent,
  .ragam-frame-parent {
    display: flex;
    justify-content: flex-start;
  }
  .explore-parent {
    cursor: pointer;
    border: 0;
    padding: 1.13rem var(--padding-17xl);
    background-color: var(--color-black);
    border-radius: var(--br-31xl);
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }
  .explore-parent:hover {
    background-color: #333;
      width: 175px;
  }
  .ragam-frame-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-xl) 0;
    box-sizing: border-box;
    gap: 3rem;
    min-width: 26.06rem;
    max-width: 100%;
  }
  @keyframes rotateImage {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .big-circle {
    position: relative;
    max-height: 100%;
    width: 26.25rem;
    object-fit: cover;
    animation: rotateImage 5s linear infinite;
  }
  .frame-group {
    width: 73.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 4.88rem;
    max-width: 100%;
    flex-shrink: 0;
    text-align: left;
    font-size: 3.5rem;
    color: var(--color-black);
    font-family: var(--font-ibm-plex-serif);
  }
  .learn-more {
    position: relative;
    white-space: nowrap;
  }
  .expand-more-icon {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
  }
  .learn-more-parent {
    height: 6.81rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 0.25rem;
  }
  @keyframes rotatesmallCircle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .image-9-icon {
    position: relative;
    width: 19.5rem;
    animation: rotatesmallCircle 7s linear infinite;
  }
  .about-us {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .as-the-sun,
  .the-quick-brown {
    align-self: stretch;
    position: relative;
    line-height: 1.88rem;
  }
  .about-us-parent,
  .the-quick-brown-fox-jumped-ove-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .the-quick-brown-fox-jumped-ove-parent {
    align-self: stretch;
    gap: var(--gap-5xl);
    font-size: var(--font-size-lg);
    font-family: var(--font-inter);
  }
  .about-us-parent {
    width: 45.81rem;
    gap: 2.25rem;
    min-width: 45.81rem;
    max-width: 100%;
  }
  .home-inner,
  .image-9-parent {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .image-9-parent {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .home-inner {
    width: 73.75rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 6.13rem;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-19xl);
    color: var(--color-black);
    font-family: var(--font-ibm-plex-serif);
  }
  .join-us {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .embark-on-a {
    align-self: stretch;
    position: relative;
    line-height: 1.88rem;
  }
  .collaborate-with-others,
  .invaluable-experience,
  .work-with-the {
    margin-bottom: false;
  }
  .invaluable-experience-work-wit {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: false;
  }
  .invaluable-experience-work-container {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 2.5rem;
    display: inline-block;
    max-width: 100%;
  }
  .embark-on-a-journey-with-us-an-parent {
    width: 45.81rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    min-width: 45.81rem;
    max-width: 100%;
  }
  .mail-icon {
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
  }
  .mail-frame {
    border-radius: var(--br-31xl);
    background-color: var(--color-black);
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.06rem 0.94rem;
    box-sizing: border-box;
  }
  .email {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
  }
  .about-us-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    gap: 1rem;
  }
  .contactusnitcacin {
    position: relative;
    font-weight: 500;
    color: var(--color-gray-100);
    white-space: nowrap;
  }
  .join-frame {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 17.88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-17xl) 3.81rem;
    gap: var(--gap-5xl);
    min-width: 17.88rem;
    text-align: center;
    font-size: var(--font-size-base);
  }
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
    font-size: var(--font-size-lg);
    font-family: var(--font-inter);
  }
  .home-child,
  .join-us-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .join-us-parent {
    flex: 1;
    flex-direction: column;
    gap: 2.19rem;
  }
  .home-child {
    width: 73.75rem;
    flex-direction: row;
    padding: 0 var(--padding-xl) 1.81rem;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-19xl);
    color: var(--color-black);
    font-family: var(--font-ibm-plex-serif);
  }
  .image-8-icon {
    position: relative;
    height: 2.88rem;
    object-fit: cover;
  }
  .nitc-logo-frame {
    position: relative;
    width: 4.86rem;
    flex-shrink: 0;
    object-fit: cover;
    height:6.47rem;
  }
  .image-8-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-xl);
    gap: var(--gap-23xl);
    width: 100%;
    height: 100%;
  }
  .image-5-icon {
    position: relative;
    width: 1.56rem;
    height: 1.56rem;
    object-fit: cover;
  }
  .multi-frame {
    cursor: pointer;
    border: 3px solid var(--color-dimgray);
    padding: 0;
    background-color: var(--color-gray-200);
    border-radius: var(--br-31xl);
    box-sizing: border-box;
    width: 3.13rem;
    height: 3.13rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image-3-icon {
    position: relative;
    width: 1.56rem;
    height: 1.44rem;
    object-fit: cover;
  }
  .multi-frame1 {
    cursor: pointer;
    border: 3px solid var(--color-dimgray);
    padding: 0;
    background-color: var(--color-gray-200);
    border-radius: var(--br-31xl);
    box-sizing: border-box;
    width: 3.13rem;
    height: 3.13rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image-6-icon {
    position: relative;
    width: 1.75rem;
    height: 1.27rem;
    object-fit: cover;
  }
  .multi-frame2 {
    border-radius: var(--br-31xl);
    background-color: var(--color-gray-200);
    border: 3px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 3.13rem;
    height: 3.13rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .image-7-icon {
    position: relative;
    width: 1.88rem;
    height: 1.88rem;
    object-fit: cover;
  }
  .multi-frame3 {
    cursor: pointer;
    border: 3px solid var(--color-dimgray);
    padding: 0;
    background-color: var(--color-gray-200);
    border-radius: var(--br-31xl);
    box-sizing: border-box;
    width: 3.13rem;
    height: 3.13rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .multi-frame-parent {
    width: 24.38rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .calicut-mukkam-road,
  .kerala-673601,
  .national-institute-of {
    position: relative;
  }
  .address-frame,
  .frame-section,
  .home,
  .location-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address-frame {
    justify-content: center;
    gap: 0.31rem;
    font-size: var(--font-size-sm);
  }
  .frame-section,
  .home,
  .location-frame {
    box-sizing: border-box;
  }
  .location-frame {
    justify-content: center;
    padding: 0 var(--padding-xl);
    gap: 0.63rem;
    max-width: 100%;
  }
  .frame-section,
  .home {
    background-color: var(--color-white);
    overflow: hidden;
    justify-content: flex-start;
    text-align: left;
  }
  .frame-section {
    align-self: stretch;
    border-top: 1px solid var(--color-gray-300);
    padding: 2.63rem 0;
    gap: var(--gap-23xl);
    max-width: 100%;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .home {
    position: relative;
    width: 100%;
    padding: 0 0 0.06rem;
    gap: 8.44rem;
    letter-spacing: normal;
    font-size: var(--font-size-3xl);
    color: var(--color-gray-100);
    font-family: var(--font-ibm-plex-sans);
  }
  @media screen and (max-width: 1200px) {
    .frame-group {
      gap: 2.44rem;
    }
    
    .image-9-parent {
      flex-wrap: wrap;
    }
    .embark-on-a-journey-with-us-an-parent,
    .join-frame {
      flex: 1;
    }
    .frame-container {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .ragam-24-tech-team-container {
      font-size: 2.81rem;
    }
    .acd58d1c926fec591a4943f12f21d0-icon {
      flex: 1;
    }
    .frame-group {
      flex-wrap: wrap;
    }
    .about-us {
      font-size: var(--font-size-11xl);
    }
    .about-us-parent {
      min-width: 100%;
    }
    .join-us {
      font-size: var(--font-size-11xl);
    }
    .embark-on-a-journey-with-us-an-parent {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-parent {
      padding-left: var(--padding-4xl);
      padding-right: var(--padding-4xl);
      box-sizing: border-box;
    }
    .ragam-frame-parent {
      gap: var(--gap-5xl);
      min-width: 100%;
    }
    .frame-group {
      gap: 1.19rem;
    }
    .about-us-parent {
      gap: 1.13rem;
    }
    .join-us-parent {
      gap: 1.06rem;
    }
    .home {
      gap: 4.19rem;
    }
  }
  @media screen and (max-width: 450px) {
    .home-parent {
      display: none;
    }
    .ragam-24-tech-team-container {
      font-size: 2.13rem;
    }
    .embrace-the-challenges {
      font-size: var(--font-size-lg);
    }
    .explore {
      font-size: var(--font-size-base);
    }
    .learn-more {
      font-size: var(--font-size-lg);
    }
    .about-us {
      font-size: var(--font-size-4xl);
    }
    .home-inner {
      padding-bottom: 4rem;
      box-sizing: border-box;
    }
    .join-us {
      font-size: var(--font-size-4xl);
    }
    .join-frame {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .image-8-icon {
      flex: 1;
    }
    .image-8-parent {
      flex-wrap: wrap;
      gap: var(--gap-2xl);
    }
    .multi-frame-parent {
      flex-wrap: wrap;
      justify-content: center;
    }
    .frame-section {
      gap: var(--gap-2xl);
      padding-top: var(--padding-8xl);
      padding-bottom: var(--padding-8xl);
      box-sizing: border-box;
    }
    .home {
      gap: 2.13rem;
    }
  }
  