body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    --font-inter: Inter;
    --font-ibm-plex-serif: "IBM Plex Serif";
    --font-ibm-plex-sans: "IBM Plex Sans";
  
 /* fonts */
    --font-size-sm: 0.88rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.13rem;
    --font-size-19xl: 2.38rem;
    --font-size-11xl: 1.88rem;
    --font-size-4xl: 1.44rem;
    --font-size-3xl: 1.38rem;
  
    /* colors */
    --color-white: #fff;
    --color-gray-100: rgba(0, 0, 0, 0.5);
    --color-gray-200: rgba(255, 255, 255, 0.5);
    --color-gray-300: rgba(0, 0, 0, 0.1);
    --color-black: #000;
    --color-dimgray: #585858;
  
    /* gaps */
    --gap-23xl: 2.63rem;
    --gap-2xl: 1.31rem;
    --gap-xl: 1.25rem;
    --gap-5xl: 1.5rem;
  
    /* paddings */
    --padding-8xl: 1.69rem;
    --padding-xl: 1.25rem;
    --padding-17xl: 2.25rem;
    --padding-4xl: 1.44rem;
  
    /* border radius */
    --br-31xl: 50px;
  }
  